body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: white;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headshot {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 33.33%;
}

p {
    color: white;
}

footer p {
    text-align: center;
}

@media (max-width: 600px) {
    .navlist {
        flex-direction: column;
    }
    .flex-container {
        
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}