*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
    color: white;
}

h1, h2 {
    text-align: center;
    color: white;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

section {
    margin-top: 50px;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navlist li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.headshot {
    max-width: 100%;
    border-radius: 50%;
}

#intro_image {
    max-width: 30%;
    padding-right: 20px;
}

#intro_text {
    max-width: 50%;
    padding-left: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 33.33%;
    margin: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: 50px;
}

p {
    color: white;
}

footer p {
    text-align: center;
}

@media (max-width: 600px) {
    .navlist {
        flex-direction: column;
    }
    #intro {
        flex-direction: column;
    }
    #intro_image {
        max-width: 75%;
    }
    #intro_text {
        max-width: 100%;
    }
    .flex-container {
        
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}